<div class="flex flex-col items-center justify-center w-screen h-screen">
  <div
    class="flex items-center justify-between p-2 mb-1 border rounded-md w-96"
  >
    <h1 class="text-lg font-bold">Hi Chat</h1>
    <button
      (click)="logOut()"
      class="border px-1.5 py-0.5 rounded-md bg-gray-200"
    >
      Logout
    </button>
  </div>
  <div
    #chatContainer
    class="relative flex flex-col p-2 overflow-y-scroll border rounded-md w-96 h-2/3"
  >
    @for (msg of this.chats(); track msg) {
    <div class="flex w-full gap-3 px-5 py-2 mt-1 border rounded-md">
      <img
        src="{{ msg.users.avatar_url }}"
        class="w-12 h-12 overflow-hidden bg-cover border rounded-full"
        alt=""
      />
      <div>
        <div>
          <h3 class="font-medium">{{ msg.users.full_name }}</h3>
          <p class="text-[12px] mt-[-3px]">{{ msg.created_at }}</p>
        </div>

        <p>{{ msg.text }}</p>
      </div>
      <img
        (click)="deleteMsg(msg)"
        src="./delete.png"
        alt=""
        class="w-6 h-6 ml-auto cursor-pointer"
      />
    </div>
    } @empty {
    <div>No Chats Available</div>
    }
  </div>
  <form
    [formGroup]="chatForm"
    (ngSubmit)="onSubmit()"
    class="flex self-center h-10 mt-1 border rounded-md w-96 bottom-2"
  >
    <input
      formControlName="chat_message"
      type="text"
      class="w-full h-full px-2 focus:outline-none"
    />
    <button
      [disabled]="chatForm.invalid"
      class="flex items-center p-2 py-1 bg-gray-200 cursor-pointer"
    >
      <img src="./send.png" class="w-10" alt="" />
    </button>
  </form>
</div>
